{{define "base"}}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/img/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="/static/css/bootstrap.{{with .Theme}}{{.}}{{else}}default{{end}}.min.css" rel="stylesheet"
    type="text/css">

  <title>Bnkr</title>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  {{block "head" .}}

  {{end}}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/backups">
        <img src="/static/img/Bnkr-500x150.png" alt="" width="80" height="24">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {{if eq .IsAuthenticated 1}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Backups
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/backups">All Backups</a></li>
              <li><a class="dropdown-item" href="/backups/new">Add New Backup</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Users
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/users">All Users</a></li>
              <li><a class="dropdown-item" href="/users/new">Add New User</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/options">Options</a>
          </li>
          {{end}}
        </ul>
        {{if eq .IsAuthenticated 1}}
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{.UserName}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/users/{{.UserId}}">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
        {{end}}
      </div>
    </div>
  </nav>
  <div class="container my-5">
    {{block "content" .}}

    {{end}}
  </div>

  <footer class="footer fixed-bottom">
    <div class="container d-flex justify-content-center">
      <span class="text-muted">Thank you for using Bnkr!</span>
    </div>
  </footer>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="/static/js/bootstrap.bundle.min.js"></script>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/static/js/moment.min.js"></script>

  {{if or (.Flash) (.Error)}}
  <script>
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    })

    Toast.fire({
      icon: {{if .Error}}'error'{{else}}'success'{{end}},
      title: {{with .Error}}{{.}}{{end}}{{with .Flash}}{{.}}{{end}}
    })
  </script>
  {{end}}

  {{block "js" .}}

  {{end}}
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      // Your code to run since DOM is loaded and ready
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    });
  </script>
</body>

</html>
{{end}}