{{template "base" .}}

{{define "content"}}
{{$res := index .Data "values"}}
{{$timezones := index .Data "timezones"}}
<form x-data="newMigration()" action="/migrations/{{with index .Data "id"}}{{.}}{{else}}new{{end}}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <div class="mb-3">
        <label for="exampleInputMigrationName1" class="form-label">Name</label>
        <input name="migrationName" class="form-control {{if .Form.Errors.Get "migrationName"}} is-invalid {{else if
            .Form.Has "migrationName" }} is-valid {{end}}" value="{{$res.Name}}" id="exampleInputMigrationName1"
            aria-describedby="migrationNameHelp">
        {{with .Form.Errors.Get "migrationName"}}
        <div class="invalid-feedback">
            {{.}}
        </div>
        {{end}}
    </div>
    <div class="mb-3">
        <label for="exampleInputTimezone1" class="form-label">Timezone</label>
        <select id="migration-timezone" name="timezone" class="form-select {{if .Form.Errors.Get "timezone"}} is-invalid {{else if
            .Form.Has "timezone" }} is-valid {{end}}" aria-label="Default select example">
            {{range $timezone := $timezones}}
            <option value="{{$timezone}}" {{with $res.Timezone}}{{if eq $res.Timezone $timezone }}selected{{end}}{{end}}>{{$timezone}}</option>
            {{end}}
        </select>
        {{with .Form.Errors.Get "timezone"}}
        <div class="invalid-feedback">
            {{.}}
        </div>
        {{end}}
    </div>
    <div class="mb-3">
        <label for="exampleInputNotificationEmail1" class="form-label">Notification Emails (Optional)</label>
        <input name="emails" placeholder="user1@example.com,user2@example.com" class="form-control {{if .Form.Errors.Get "emails"}} is-invalid
            {{else if .Form.Has "emails" }} is-valid {{end}}" value="{{$res.Emails}}"
            id="exampleInputNotificationEmail1" aria-describedby="emailsHelp">
        {{with .Form.Errors.Get "emails"}}
        <div class="invalid-feedback">
            {{.}}
        </div>
        {{end}}
    </div>
    <div class="card mt-4">
        <div class="card-header">
          Source
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="exampleInputSrcType1" class="form-label">Type</label>
                <select x-model="src_type" id="migration-src_type" name="src_type" class="form-select {{if .Form.Errors.Get "src_type"}} is-invalid {{else if
                    .Form.Has "src_type" }} is-valid {{end}}">
                    <option value="db" {{with $res.SrcType}}{{if eq $res.SrcType "db" }}selected{{end}}{{end}}>MySQL/MariaDB Database</option>
                    <option value="object" {{with $res.SrcType}}{{if eq $res.SrcType "object" }}selected{{end}}{{end}}>Files In Deployment or StatefulSet</option>
                    <option value="ssh" {{with $res.SrcType}}{{if eq $res.SrcType "ssh" }}selected{{end}}{{end}}>Files In SSH</option>
                    <option value="pod" {{with $res.SrcType}}{{if eq $res.SrcType "pod" }}selected{{end}}{{end}}>Files In Pod</option>
                    <option value="s3" {{with $res.SrcType}}{{if eq $res.SrcType "s3" }}selected{{end}}{{end}}>S3</option>
                    <option value="mongo" {{with $res.SrcType}}{{if eq $res.SrcType "mongo" }}selected{{end}}{{end}}>MongoDB</option>
                    <option value="pg" {{with $res.SrcType}}{{if eq $res.SrcType "pg" }}selected{{end}}{{end}}>PostgreSQL</option>
                    <option value="bnkr" {{with $res.SrcType}}{{if eq $res.SrcType "bnkr" }}selected{{end}}{{end}}>Bnkr DB</option>
                </select>
                {{with .Form.Errors.Get "src_type"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div class="mb-3" x-show="src_type=='db' || src_type=='mongo' || src_type=='pg' || src_type=='bnkr'">
                <label for="exampleInputSrcAccess1" class="form-label">Access</label>
                <select x-model="src_access" id="migration-src_access" name="src_access" class="form-select {{if .Form.Errors.Get "src_access"}} is-invalid {{else if
                    .Form.Has "src_access" }} is-valid {{end}}">
                    <option value="direct" {{with $res.SrcAccess}}{{if eq $res.SrcAccess "direct" }}selected{{end}}{{end}}>Direct</option>
                    <option value="ssh" {{with $res.SrcAccess}}{{if eq $res.SrcAccess "ssh" }}selected{{end}}{{end}}>Behind SSH</option>
                    <option value="k8s" {{with $res.SrcAccess}}{{if eq $res.SrcAccess "k8s" }}selected{{end}}{{end}}>Behind K8S</option>
                </select>
                {{with .Form.Errors.Get "src_access"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="src_type=='mongo' || src_type=='pg'" class="mb-3">
                <label for="exampleInputSrcURI1" class="form-label">URI</label>
                <input name="src_uri" class="form-control {{if .Form.Errors.Get "src_uri"}} is-invalid {{else if
                    .Form.Has "src_uri" }} is-valid {{end}}" value="{{with $res.SrcURI}}{{$res.SrcURI}}{{end}}" id="exampleInputSrcURI1"
                    aria-describedby="src_uriHelp">
                {{with .Form.Errors.Get "src_uri"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="(src_access=='ssh' && (src_type=='db' || src_type=='mongo' || src_type=='pg' || src_type=='bnkr')) || src_type=='ssh'" class="mb-3">
                <label for="exampleInputSrcSshHost1" class="form-label">SSH Host</label>
                <input name="src_ssh_host" class="form-control {{if .Form.Errors.Get "src_ssh_host"}} is-invalid {{else if
                    .Form.Has "src_ssh_host" }} is-valid {{end}}" value="{{$res.SrcSshHost}}" id="exampleInputSrcSshHost1"
                    aria-describedby="src_ssh_hostHelp">
                {{with .Form.Errors.Get "src_ssh_host"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="(src_access=='ssh' && (src_type=='db' || src_type=='mongo' || src_type=='pg' || src_type=='bnkr')) || src_type=='ssh'" class="mb-3">
                <label for="exampleInputSrcSshPort1" class="form-label">SSH Port</label>
                <input name="src_ssh_port" class="form-control {{if .Form.Errors.Get "src_ssh_port"}} is-invalid {{else if
                    .Form.Has "src_ssh_port" }} is-valid {{end}}" value="{{$res.SrcSshPort}}" id="exampleInputSrcSshPort1"
                    aria-describedby="src_ssh_portHelp">
                {{with .Form.Errors.Get "src_ssh_port"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="(src_access=='ssh' && (src_type=='db' || src_type=='mongo' || src_type=='pg' || src_type=='bnkr')) || src_type=='ssh'" class="mb-3">
                <label for="exampleInputSrcSshUser1" class="form-label">SSH User</label>
                <input name="src_ssh_user" class="form-control {{if .Form.Errors.Get "src_ssh_user"}} is-invalid {{else if
                    .Form.Has "src_ssh_user" }} is-valid {{end}}" value="{{$res.SrcSshUser}}" id="exampleInputSrcSshUser1"
                    aria-describedby="src_ssh_userHelp">
                {{with .Form.Errors.Get "src_ssh_user"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="(src_access=='ssh' && (src_type=='db' || src_type=='mongo' || src_type=='pg' || src_type=='bnkr')) || src_type=='ssh'" class="mb-3">
                <label for="exampleInputSrcSshKey1" class="form-label">SSH Key</label>
                <textarea name="src_ssh_key" class="form-control {{if .Form.Errors.Get "src_ssh_key"}} is-invalid {{else if
                    .Form.Has "src_ssh_key" }} is-valid {{end}}" id="exampleInputSrcSshKey1" aria-describedby="src_ssh_keyHelp" rows="3">{{$res.SrcSshKey}}</textarea>
                {{with .Form.Errors.Get "src_ssh_key"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="(src_access=='k8s' && (src_type=='db' || src_type=='mongo' || src_type=='pg' || src_type=='bnkr')) || src_type=='pod' || src_type=='object'" class="mb-3">
                <label for="exampleInputSrcKubeconfig1" class="form-label">Kubeconfig</label>
                <textarea name="src_kubeconfig" class="form-control {{if .Form.Errors.Get "src_kubeconfig"}} is-invalid {{else if
                    .Form.Has "src_kubeconfig" }} is-valid {{end}}" id="exampleInputSrcKubeconfig1" aria-describedby="src_kubeconfigHelp" rows="3">{{$res.SrcKubeconfig}}</textarea>
                {{with .Form.Errors.Get "src_kubeconfig"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="src_type=='db'" class="mb-3">
                <label for="exampleInputSrcDbName1" class="form-label">Database Name</label>
                <input name="src_db_name" class="form-control {{if .Form.Errors.Get "src_db_name"}} is-invalid {{else if
                    .Form.Has "src_db_name" }} is-valid {{end}}" value="{{$res.SrcDbName}}" id="exampleInputSrcDbName1"
                    aria-describedby="src_db_nameHelp">
                {{with .Form.Errors.Get "src_db_name"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="src_type=='db'" class="mb-3">
                <label for="exampleInputSrcDbUser1" class="form-label">Database User</label>
                <input name="src_db_user" class="form-control {{if .Form.Errors.Get "src_db_user"}} is-invalid {{else if
                    .Form.Has "src_db_user" }} is-valid {{end}}" value="{{$res.SrcDbUser}}" id="exampleInputSrcDbUser1"
                    aria-describedby="src_db_userHelp">
                {{with .Form.Errors.Get "src_db_user"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="src_type=='db'" class="mb-3">
                <label for="exampleInputSrcDbPassword1" class="form-label">Database Password</label>
                <input name="src_db_password" class="form-control {{if .Form.Errors.Get "src_db_password"}} is-invalid {{else if
                    .Form.Has "src_db_password" }} is-valid {{end}}" value="{{$res.SrcDbPassword}}" id="exampleInputSrcDbPassword1"
                    aria-describedby="src_db_passwordHelp">
                {{with .Form.Errors.Get "src_db_password"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="src_type=='db'" class="mb-3">
                <label for="exampleInputSrcDbHost1" class="form-label">Database Host</label>
                <input name="src_db_host" class="form-control {{if .Form.Errors.Get "src_db_host"}} is-invalid {{else if
                    .Form.Has "src_db_host" }} is-valid {{end}}" value="{{$res.SrcDbHost}}" id="exampleInputSrcDbHost1"
                    aria-describedby="src_db_hostHelp">
                {{with .Form.Errors.Get "src_db_host"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="src_type=='db'" class="mb-3">
                <label for="exampleInputSrcDbPort1" class="form-label">Database Port</label>
                <input name="src_db_port" class="form-control {{if .Form.Errors.Get "src_db_port"}} is-invalid {{else if
                    .Form.Has "src_db_port" }} is-valid {{end}}" value="{{$res.SrcDbPort}}" id="exampleInputSrcDbPort1"
                    aria-describedby="src_db_portHelp">
                {{with .Form.Errors.Get "src_db_port"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div class="mb-3" x-show="src_type=='object'">
                <label for="exampleInputSrcPodLabel1" class="form-label">Label To Find Pod</label>
                <input name="src_pod_label" class="form-control {{if .Form.Errors.Get "src_pod_label"}} is-invalid {{else if
                    .Form.Has "src_pod_label" }} is-valid {{end}}" value="{{$res.SrcPodLabel}}" id="exampleInputSrcPodLabel1"
                    aria-describedby="src_pod_labelHelp">
                {{with .Form.Errors.Get "src_pod_label"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
                <div id="src_pod_labelHelp" class="form-text">The label of the pod that we are going to migration the files inside its container, please use <code>=</code> with no space so <code>app: bnkr</code> become <code>app=bnkr</code>.
                </div>
            </div>
            <div class="mb-3" x-show="src_type=='pod'">
                <label for="exampleInputSrcPodName1" class="form-label">Pod Name</label>
                <input name="src_pod_name" class="form-control {{if .Form.Errors.Get "src_pod_name"}} is-invalid {{else if
                    .Form.Has "src_pod_name" }} is-valid {{end}}" value="{{$res.SrcPodName}}" id="exampleInputSrcPodName1"
                    aria-describedby="src_pod_nameHelp">
                {{with .Form.Errors.Get "src_pod_name"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
                <div id="src_pod_nameHelp" class="form-text">The pod that we are going to migration the files inside it.
                </div>
            </div>
            <div class="mb-3" x-show="src_type=='object' || src_type=='pod'">
                <label for="exampleInputSrcContainer1" class="form-label">Container</label>
                <input name="src_container" class="form-control {{if .Form.Errors.Get "src_container"}} is-invalid {{else if
                    .Form.Has "src_container" }} is-valid {{end}}" value="{{$res.SrcContainer}}" id="exampleInputSrcContainer1"
                    aria-describedby="src_containerHelp">
                {{with .Form.Errors.Get "src_container"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
                <div id="src_containerHelp" class="form-text">The src_container that we are going to migration the files inside it.
                </div>
            </div>
            <div class="mb-3" x-show="src_type=='object' || src_type=='pod' || src_type=='ssh'">
                <label for="exampleInputSrcFilesPath1" class="form-label">Files Path</label>
                <input name="src_files_path" class="form-control {{if .Form.Errors.Get "src_files_path"}} is-invalid {{else if
                    .Form.Has "src_files_path" }} is-valid {{end}}" value="{{$res.SrcFilesPath}}" id="exampleInputSrcFilesPath1"
                    aria-describedby="src_files_pathHelp">
                {{with .Form.Errors.Get "src_files_path"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
                <div id="src_files_pathHelp" class="form-text">The folder path inside the container.</div>
            </div>
            <div x-show="src_type=='s3'" class="mb-3">
                <label for="exampleInputSrcS3AccessKey1" class="form-label">S3 Access Key</label>
                <input name="src_s3_access_key" class="form-control {{if .Form.Errors.Get "src_s3_access_key"}} is-invalid {{else if
                    .Form.Has "src_s3_access_key" }} is-valid {{end}}" value="{{$res.SrcS3AccessKey}}" id="exampleInputSrcS3AccessKey1"
                    aria-describedby="src_s3_access_keyHelp">
                {{with .Form.Errors.Get "src_s3_access_key"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="src_type=='s3'" class="mb-3">
                <label for="exampleInputSrcS3SecretKey1" class="form-label">S3 Secret Key</label>
                <input name="src_s3_secret_key" class="form-control {{if .Form.Errors.Get "src_s3_secret_key"}} is-invalid {{else if
                    .Form.Has "src_s3_secret_key" }} is-valid {{end}}" value="{{$res.SrcS3SecretKey}}" id="exampleInputSrcS3SecretKey1"
                    aria-describedby="src_s3_secret_keyHelp">
                {{with .Form.Errors.Get "src_s3_secret_key"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="src_type=='s3'" class="mb-3">
                <label for="exampleInputSrcRegion1" class="form-label">Region</label>
                <input name="src_region" class="form-control {{if .Form.Errors.Get "src_region"}} is-invalid {{else if
                    .Form.Has "src_region" }} is-valid {{end}}" value="{{$res.SrcRegion}}" id="exampleInputSrcRegion1"
                    aria-describedby="src_regionHelp">
                {{with .Form.Errors.Get "src_region"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="src_type=='s3'" class="mb-3">
                <label for="exampleInputSrcBucket1" class="form-label">Bucket</label>
                <input name="src_bucket" class="form-control {{if .Form.Errors.Get "src_bucket"}} is-invalid {{else if
                    .Form.Has "src_bucket" }} is-valid {{end}}" value="{{$res.SrcBucket}}" id="exampleInputSrcBucket1"
                    aria-describedby="src_bucketHelp">
                {{with .Form.Errors.Get "src_bucket"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="src_type=='s3'" class="mb-3">
                <label for="exampleInputSrcS3File1" class="form-label">File on S3</label>
                <input placeholder="2021/weekly/db.sql.gz" name="src_s3_file" class="form-control {{if .Form.Errors.Get "src_s3_file"}} is-invalid {{else
                    if .Form.Has "src_s3_file" }} is-valid {{end}}" value="{{$res.SrcS3File}}"
                    id="exampleInputSrcS3File1" aria-describedby="src_s3_fileHelp">
                {{with .Form.Errors.Get "src_s3_file"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
          Destination
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="exampleInputDestType1" class="form-label">Type</label>
                <select x-model="dest_type" id="migration-dest_type" name="dest_type" class="form-select {{if .Form.Errors.Get "dest_type"}} is-invalid {{else if
                    .Form.Has "dest_type" }} is-valid {{end}}">
                    <option x-show="src_type=='db' || src_type=='s3'" value="db" {{with $res.DestType}}{{if eq $res.DestType "db" }}selected{{end}}{{end}}>MySQL/MariaDB Database</option>
                    <option x-show="src_type=='pod' || src_type=='ssh' || src_type=='object' || src_type=='s3'" value="object" {{with $res.DestType}}{{if eq $res.DestType "object" }}selected{{end}}{{end}}>Files In Deployment or StatefulSet</option>
                    <option x-show="src_type=='pod' || src_type=='ssh' || src_type=='object' || src_type=='s3'" value="ssh" {{with $res.SrcType}}{{if eq $res.SrcType "ssh" }}selected{{end}}{{end}}>Files In SSH</option>
                    <option x-show="src_type=='pod' || src_type=='ssh' || src_type=='object' || src_type=='s3'" value="pod" {{with $res.DestType}}{{if eq $res.DestType "pod" }}selected{{end}}{{end}}>Files In Pod</option>
                    <option value="s3" {{with $res.DestType}}{{if eq $res.DestType "s3" }}selected{{end}}{{end}}>S3</option>
                    <option x-show="src_type=='mongo' || src_type=='s3'" value="mongo" {{with $res.DestType}}{{if eq $res.DestType "mongo" }}selected{{end}}{{end}}>MongoDB</option>
                    <option x-show="src_type=='pg' || src_type=='s3'" value="pg" {{with $res.DestType}}{{if eq $res.DestType "pg" }}selected{{end}}{{end}}>PostgreSQL</option>
                    <option x-show="src_type=='pg' || src_type=='s3' || src_type=='bnkr'" value="bnkr" {{with $res.DestType}}{{if eq $res.DestType "bnkr" }}selected{{end}}{{end}}>Bnkr DB</option>
                </select>
                {{with .Form.Errors.Get "dest_type"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div class="mb-3" x-show="dest_type=='db' || dest_type=='mongo' || dest_type=='pg' || dest_type=='bnkr'">
                <label for="exampleInputDestAccess1" class="form-label">Access</label>
                <select x-model="dest_access" id="migration-dest_access" name="dest_access" class="form-select {{if .Form.Errors.Get "dest_access"}} is-invalid {{else if
                    .Form.Has "dest_access" }} is-valid {{end}}">
                    <option value="direct" {{with $res.DestAccess}}{{if eq $res.DestAccess "direct" }}selected{{end}}{{end}}>Direct</option>
                    <option value="ssh" {{with $res.DestAccess}}{{if eq $res.DestAccess "ssh" }}selected{{end}}{{end}}>Behind SSH</option>
                    <option value="k8s" {{with $res.DestAccess}}{{if eq $res.DestAccess "k8s" }}selected{{end}}{{end}}>Behind K8S</option>
                </select>
                {{with .Form.Errors.Get "dest_access"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="dest_type=='mongo' || dest_type=='pg'" class="mb-3">
                <label for="exampleInputDestURI1" class="form-label">URI</label>
                <input name="dest_uri" class="form-control {{if .Form.Errors.Get "dest_uri"}} is-invalid {{else if
                    .Form.Has "dest_uri" }} is-valid {{end}}" value="{{with $res.DestURI}}{{$res.DestURI}}{{end}}" id="exampleInputDestURI1"
                    aria-describedby="dest_uriHelp">
                {{with .Form.Errors.Get "dest_uri"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="(dest_access=='ssh' && (dest_type=='db' || dest_type=='mongo' || dest_type=='pg' || dest_type=='bnkr')) || dest_type=='ssh'" class="mb-3">
                <label for="exampleInputDestSshHost1" class="form-label">SSH Host</label>
                <input name="dest_ssh_host" class="form-control {{if .Form.Errors.Get "dest_ssh_host"}} is-invalid {{else if
                    .Form.Has "dest_ssh_host" }} is-valid {{end}}" value="{{$res.DestDbName}}" id="exampleInputDestSshHost1"
                    aria-describedby="dest_ssh_hostHelp">
                {{with .Form.Errors.Get "dest_ssh_host"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="(dest_access=='ssh' && (dest_type=='db' || dest_type=='mongo' || dest_type=='pg' || dest_type=='bnkr')) || dest_type=='ssh'" class="mb-3">
                <label for="exampleInputDestSshPort1" class="form-label">SSH Port</label>
                <input name="dest_ssh_port" class="form-control {{if .Form.Errors.Get "dest_ssh_port"}} is-invalid {{else if
                    .Form.Has "dest_ssh_port" }} is-valid {{end}}" value="{{$res.DestSshPort}}" id="exampleInputDestSshPort1"
                    aria-describedby="dest_ssh_portHelp">
                {{with .Form.Errors.Get "dest_ssh_port"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="(dest_access=='ssh' && (dest_type=='db' || dest_type=='mongo' || dest_type=='pg' || dest_type=='bnkr')) || dest_type=='ssh'" class="mb-3">
                <label for="exampleInputDestSshUser1" class="form-label">SSH User</label>
                <input name="dest_ssh_user" class="form-control {{if .Form.Errors.Get "dest_ssh_user"}} is-invalid {{else if
                    .Form.Has "dest_ssh_user" }} is-valid {{end}}" value="{{$res.DestSshUser}}" id="exampleInputDestSshUser1"
                    aria-describedby="dest_ssh_userHelp">
                {{with .Form.Errors.Get "dest_ssh_user"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="(dest_access=='ssh' && (dest_type=='db' || dest_type=='mongo' || dest_type=='pg' || dest_type=='bnkr')) || dest_type=='ssh'" class="mb-3">
                <label for="exampleInputDestSshKey1" class="form-label">SSH Key</label>
                <textarea name="dest_ssh_key" class="form-control {{if .Form.Errors.Get "dest_ssh_key"}} is-invalid {{else if
                    .Form.Has "dest_ssh_key" }} is-valid {{end}}" id="exampleInputDestSshKey1" aria-describedby="dest_ssh_keyHelp" rows="3">{{$res.DestSshKey}}</textarea>
                {{with .Form.Errors.Get "dest_ssh_key"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="(dest_access=='k8s' && (dest_type=='db' || dest_type=='mongo' || dest_type=='pg' || dest_type=='bnkr')) || dest_type=='pod' || dest_type=='object'" class="mb-3">
                <label for="exampleInputDestKubeconfig1" class="form-label">Kubeconfig</label>
                <textarea name="dest_kubeconfig" class="form-control {{if .Form.Errors.Get "dest_kubeconfig"}} is-invalid {{else if
                    .Form.Has "dest_kubeconfig" }} is-valid {{end}}" id="exampleInputDestKubeconfig1" aria-describedby="dest_kubeconfigHelp" rows="3">{{$res.DestKubeconfig}}</textarea>
                {{with .Form.Errors.Get "dest_kubeconfig"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="dest_type=='db'" class="mb-3">
                <label for="exampleInputDestDbName1" class="form-label">Database Name</label>
                <input name="dest_db_name" class="form-control {{if .Form.Errors.Get "dest_db_name"}} is-invalid {{else if
                    .Form.Has "dest_db_name" }} is-valid {{end}}" value="{{$res.DestDbName}}" id="exampleInputDestDbName1"
                    aria-describedby="dest_db_nameHelp">
                {{with .Form.Errors.Get "dest_db_name"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="dest_type=='db'" class="mb-3">
                <label for="exampleInputDestDbUser1" class="form-label">Database User</label>
                <input name="dest_db_user" class="form-control {{if .Form.Errors.Get "dest_db_user"}} is-invalid {{else if
                    .Form.Has "dest_db_user" }} is-valid {{end}}" value="{{$res.DestDbUser}}" id="exampleInputDestDbUser1"
                    aria-describedby="dest_db_userHelp">
                {{with .Form.Errors.Get "dest_db_user"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="dest_type=='db'" class="mb-3">
                <label for="exampleInputDestDbPassword1" class="form-label">Database Password</label>
                <input name="dest_db_password" class="form-control {{if .Form.Errors.Get "dest_db_password"}} is-invalid {{else if
                    .Form.Has "dest_db_password" }} is-valid {{end}}" value="{{$res.DestDbPassword}}" id="exampleInputDestDbPassword1"
                    aria-describedby="dest_db_passwordHelp">
                {{with .Form.Errors.Get "dest_db_password"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="dest_type=='db'" class="mb-3">
                <label for="exampleInputDestDbHost1" class="form-label">Database Host</label>
                <input name="dest_db_host" class="form-control {{if .Form.Errors.Get "dest_db_host"}} is-invalid {{else if
                    .Form.Has "dest_db_host" }} is-valid {{end}}" value="{{$res.DestDbHost}}" id="exampleInputDestDbHost1"
                    aria-describedby="dest_db_hostHelp">
                {{with .Form.Errors.Get "dest_db_host"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="dest_type=='db'" class="mb-3">
                <label for="exampleInputDestDbPort1" class="form-label">Database Port</label>
                <input name="dest_db_port" class="form-control {{if .Form.Errors.Get "dest_db_port"}} is-invalid {{else if
                    .Form.Has "dest_db_port" }} is-valid {{end}}" value="{{$res.DestDbPort}}" id="exampleInputDestDbPort1"
                    aria-describedby="dest_db_portHelp">
                {{with .Form.Errors.Get "dest_db_port"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div class="mb-3" x-show="dest_type=='object'">
                <label for="exampleInputDestPodLabel1" class="form-label">Label To Find Pod</label>
                <input name="dest_pod_label" class="form-control {{if .Form.Errors.Get "dest_pod_label"}} is-invalid {{else if
                    .Form.Has "dest_pod_label" }} is-valid {{end}}" value="{{$res.DestPodLabel}}" id="exampleInputDestPodLabel1"
                    aria-describedby="dest_pod_labelHelp">
                {{with .Form.Errors.Get "dest_pod_label"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
                <div id="dest_pod_labelHelp" class="form-text">The label of the pod that we are going to migration the files inside its container, please use <code>=</code> with no space so <code>app: bnkr</code> become <code>app=bnkr</code>.
                </div>
            </div>
            <div class="mb-3" x-show="dest_type=='pod'">
                <label for="exampleInputDestPodName1" class="form-label">Pod Name</label>
                <input name="dest_pod_name" class="form-control {{if .Form.Errors.Get "dest_pod_name"}} is-invalid {{else if
                    .Form.Has "dest_pod_name" }} is-valid {{end}}" value="{{$res.DestPodName}}" id="exampleInputDestPodName1"
                    aria-describedby="dest_pod_nameHelp">
                {{with .Form.Errors.Get "dest_pod_name"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
                <div id="dest_pod_nameHelp" class="form-text">The pod that we are going to migration the files inside it.
                </div>
            </div>
            <div class="mb-3" x-show="dest_type=='object' || dest_type=='pod'">
                <label for="exampleInputDestContainer1" class="form-label">Container</label>
                <input name="dest_container" class="form-control {{if .Form.Errors.Get "dest_container"}} is-invalid {{else if
                    .Form.Has "dest_container" }} is-valid {{end}}" value="{{$res.DestContainer}}" id="exampleInputDestContainer1"
                    aria-describedby="dest_containerHelp">
                {{with .Form.Errors.Get "dest_container"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
                <div id="dest_containerHelp" class="form-text">The dest_container that we are going to migration the files inside it.
                </div>
            </div>
            <div class="mb-3" x-show="dest_type=='object' || dest_type=='pod'">
                <label for="exampleInputDestFilesPath1" class="form-label">Files Path</label>
                <input name="dest_files_path" class="form-control {{if .Form.Errors.Get "dest_files_path"}} is-invalid {{else if
                    .Form.Has "dest_files_path" }} is-valid {{end}}" value="{{$res.DestFilesPath}}" id="exampleInputDestFilesPath1"
                    aria-describedby="dest_files_pathHelp">
                {{with .Form.Errors.Get "dest_files_path"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
                <div id="dest_files_pathHelp" class="form-text">The folder path inside the container.</div>
            </div>
            <div x-show="dest_type=='s3'" class="mb-3">
                <label for="exampleInputDestS3AccessKey1" class="form-label">S3 Access Key</label>
                <input name="dest_s3_access_key" class="form-control {{if .Form.Errors.Get "dest_s3_access_key"}} is-invalid {{else if
                    .Form.Has "dest_s3_access_key" }} is-valid {{end}}" value="{{$res.DestS3AccessKey}}" id="exampleInputDestS3AccessKey1"
                    aria-describedby="dest_s3_access_keyHelp">
                {{with .Form.Errors.Get "dest_s3_access_key"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="dest_type=='s3'" class="mb-3">
                <label for="exampleInputDestS3SecretKey1" class="form-label">S3 Secret Key</label>
                <input name="dest_s3_secret_key" class="form-control {{if .Form.Errors.Get "dest_s3_secret_key"}} is-invalid {{else if
                    .Form.Has "dest_s3_secret_key" }} is-valid {{end}}" value="{{$res.DestS3SecretKey}}" id="exampleInputDestS3SecretKey1"
                    aria-describedby="dest_s3_secret_keyHelp">
                {{with .Form.Errors.Get "dest_s3_secret_key"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="dest_type=='s3'" class="mb-3">
                <label for="exampleInputDestRegion1" class="form-label">Region</label>
                <input name="dest_region" class="form-control {{if .Form.Errors.Get "dest_region"}} is-invalid {{else if
                    .Form.Has "dest_region" }} is-valid {{end}}" value="{{$res.DestRegion}}" id="exampleInputDestRegion1"
                    aria-describedby="dest_regionHelp">
                {{with .Form.Errors.Get "dest_region"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="dest_type=='s3'" class="mb-3">
                <label for="exampleInputDestBucket1" class="form-label">Bucket</label>
                <input name="dest_bucket" class="form-control {{if .Form.Errors.Get "dest_bucket"}} is-invalid {{else if
                    .Form.Has "dest_bucket" }} is-valid {{end}}" value="{{$res.DestBucket}}" id="exampleInputDestBucket1"
                    aria-describedby="dest_bucketHelp">
                {{with .Form.Errors.Get "dest_bucket"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div x-show="dest_type=='s3'" class="mb-3">
                <label for="exampleInputDestStorageDirectory1" class="form-label">Storage Directory (Optional)</label>
                <input placeholder="2021/weekly" name="dest_storage_directory" class="form-control {{if .Form.Errors.Get "dest_storage_directory"}} is-invalid {{else
                    if .Form.Has "dest_storage_directory" }} is-valid {{end}}" value="{{$res.DestStorageDirectory}}"
                    id="exampleInputDestStorageDirectory1" aria-describedby="dest_storage_directoryHelp">
                {{with .Form.Errors.Get "dest_storage_directory"}}
                <div class="invalid-feedback">
                    {{.}}
                </div>
                {{end}}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-4">{{with index .Data "id"}}Update{{else}}Submit{{end}}</button>
</form>
{{end}}

{{define "js"}}
{{$res := index .Data "values"}}
<script>
    function newMigration(){
        return {
            src_type: '{{with $res.SrcType}}{{.}}{{else}}db{{end}}',
            src_access: '{{with $res.SrcAccess}}{{.}}{{else}}direct{{end}}',
            dest_type: '{{with $res.DestType}}{{.}}{{else}}db{{end}}',
            dest_access: '{{with $res.DestAccess}}{{.}}{{else}}direct{{end}}',
        }
    }
</script>
{{end}}