{{template "base" .}}

{{define "content"}}
{{$res := index .Data "values"}}
<form action="/auth/login" method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input name="email" class="form-control {{if .Form.Errors.Get "email"}} is-invalid {{end}}"
            value="{{$res.Email}}" id="exampleInputEmail1" aria-describedby="emailHelp">
        {{with .Form.Errors.Get "email"}}
        <div class="invalid-feedback">
            {{.}}
        </div>
        {{end}}
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control {{if .Form.Errors.Get "password"}} is-invalid {{end}}" value="{{$res.Password}}" id="exampleInputPassword1">
        {{with .Form.Errors.Get "password"}}
        <div class="invalid-feedback">
            {{.}}
        </div>
        {{end}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{end}}